<script type="text/template" id="sportList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Nombre</th>
		 <th>Edad mínima</th>
		 <th>Edad máxima</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(sports, function(sport) { %>
    <tr>
		<td><%= htmlEncode(sport.getDisplay('name')) %></td>
		<td><%= htmlEncode(sport.getDisplay('minAge')) %></td>
		<td><%= htmlEncode(sport.getDisplay('maxAge')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-sport-edit',{id:<%= sport.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-sport-delete',{id:<%= sport.id %>}); return false" >Borrar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="sport">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-sportForm">
    <% if(sport.id) {%>
    <input type="hidden" name="id" value="<%= sport.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese el valor" value="<%= sport.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="minAge">Edad mínima</label>
    	<input type="text" class="form-control" id="minAge" name="minAge" placeholder="Ingrese el valor" value="<%= sport.get('minAge') %>"/>	
		</div>
		<div class="form-group" >
		<label for="maxAge">Edad máxima</label>
    	<input type="text" class="form-control" id="maxAge" name="maxAge" placeholder="Ingrese el valor" value="<%= sport.get('maxAge') %>"/>	
		</div>
    </form>
    </div>
</script> 